body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #101010;
    color: #c2c2c2;
}

a:link {
    color: rgb(250, 219, 224);
}
a:visited {
    color: rgb(250, 219, 224);
}
a:hover {
    color: rgb(250, 219, 100);
}
a:active {
    color: rgb(230, 95, 147);
}

.graph_container {
    width: 100%;
}

.graph_item {
    float: left;
    width: 33.33%;
    min-height:400px;
}

@media screen and (max-width: 900px) {
    .graph_item {
      width: 100%;
    }
  }
