<head>
   <meta charset="utf-8">
   <title>Chipmunk Finance - Account Balance</title>      
   <script src="/static/moment.min.js"></script>
   <script src="/static/Chart.min.js"></script>
   <script src="/static/jquery-3.3.1.min.js"></script>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="/static/site.css" />
</head>
<body>

<div><a href="/">&lt;&lt; Home</a></div>

<h2>Account Balance for {{account_name}} ({{account_description}})</h2>

<div style="width:100%;">
   <select name="graph_date_range" onchange="load_chart_data(account_id);">
      <option value="last_30_days" selected>Last 30 days</option>
      <option value="last_90_days">Last 90 days</option>
      <option value="last_12_months">Last 12 Months</option>
      <option value="ytd">Year To Date</option>
      <option value="last_year">Last Year</option>
   </select>
   <canvas id="myChart"></canvas>
</div>

<div>
   <div>Latest Transactions</div>
   <div style="font-size:80%; width:160%;" id="transaction_list"></div>
</div>

<script language="javascript">
   var account_id = {{account_id}};
   var ctx = document.getElementById('myChart').getContext('2d');
   var chart = new Chart(ctx, {
      type: 'line',
      data: {},
      options: {
         elements: { point: { radius: 0 } },
         legend: {
            display: false
         },
         responsive: true,
         title: {
            display: true,
            text: 'Account Balance Over Time'
         },
         scales: {
            xAxes: [{
               type: 'time',
               display: true,
               scaleLabel: {
                  display: false,
                  labelString: 'Date'
               },
               ticks: {
                  major: {
                     fontStyle: 'bold',
                     fontColor: '#FF0000'
                  }
               },
               time: {
                  unit: 'day',
                  unitStepSize: 1,
                  displayFormats: {
                    'day': 'YYYY MMM DD'
                  }
               }
            }],
            yAxes: [{
               display: true,
               scaleLabel: {
                  display: false,
                  labelString: 'Account Balance'
               },
               ticks: {
                  beginAtZero: true,
                  // Include a dollar sign in the ticks
                  callback: function(value, index, values) {
                     return '{{account_currency}} ' + value.toFixed(2);
                  }
               }
            }]
         }
      }
   });

   function load_chart_data(account_id) {

      var date_from = new Date();
      var date_to = new Date();

      switch ($("select[name=graph_date_range]").val()) {
         case 'last_30_days':
            chart.options.scales.xAxes[0].time.unitStepSize = 1;
            date_from.setDate(date_to.getDate() - 30);
            break;
         case 'last_90_days':
            chart.options.scales.xAxes[0].time.unitStepSize = 2;
            date_from.setDate(date_to.getDate() - 90);
            break;
         case 'last_12_months':
            chart.options.scales.xAxes[0].time.unitStepSize = 14;
            date_from.setDate(date_to.getDate() - 365);
            break;
         case 'ytd':
            chart.options.scales.xAxes[0].time.unitStepSize = 14;
            date_from.setDate(1);
            date_from.setMonth(0);
            break;
         case 'last_year':
            chart.options.scales.xAxes[0].time.unitStepSize = 14;
            date_from.setFullYear(date_from.getFullYear()-1);
            date_from.setDate(1);
            date_from.setMonth(0);
            date_to.setFullYear(date_from.getFullYear());
            date_to.setMonth(12);
            date_to.setDate(31);
            break;
      }

      var date_from_s = moment(date_from).format('YYYY-MM-DD');
      var date_to_s = moment(date_to).format('YYYY-MM-DD');

      // Clear graph
      var new_data = {
         datasets: [{
            label: 'Balance',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data : [],
            type: 'line',
            pointRadius: 0,
            fill: false,
            lineTension: 0,
            borderWidth: 2
         }]
      };

      // Load account balance history data
      var url = `/api/history_by_date/${account_id}?from=${date_from_s}&to=${date_to_s}`;
      $.getJSON(url, function( data ) {
         data.history.forEach((item) => {
            new_data.datasets[0].data.push({x:moment(item.date).valueOf(), y:item.balance});
         });
         chart.data = new_data;
         chart.update();
      });      
      
   }

   function format_currency(value) {
      return parseFloat(Math.round(value * 100) / 100).toFixed(2);
   }

   function bar(amount) {
      var width = Math.round(Math.min(Math.abs(amount * 0.5),500.0));
      return `<div class="amount_bar ${amount<0?'negative':''}" style="width: ${width}px;"></div>`;
   }

   function load_latest_transactions(account_id, count) {

      // Load account transactions
      $.getJSON(`/api/transactions/${account_id}?count=${count}`, function( data ) {
         $("#transaction_list").empty();
         data.forEach((item) => {
            var item_html = `<div class="transaction ${item.uncleared?'uncleared':''} ${item.added_today?'new':''}">${item.date.substring(0,10)} <b>${item.type}</b> <i>${item.description}</i> <b>${format_currency(item.amount)} {{account_currency}} ${bar(item.amount)}</b></div>`;
            $("#transaction_list").append(item_html);
         });
      });

   }

   $( document ).ready(function() {
      load_chart_data(account_id);
      load_latest_transactions(account_id, 50);
   });

</script>

</body>