<head>
   <meta charset="utf-8">
   <title>Chipmunk Finance - Account Balance</title>      
   <script src="/static/moment.min.js"></script>
   <script src="/static/Chart.min.js"></script>
   <script src="/static/jquery-3.3.1.min.js"></script>
   <link rel="stylesheet" type="text/css" href="/static/site.css" />
</head>
<body>

<div><a href="/">&lt;&lt; Home</a></div>

<h2>Account Balance for {{account_name}} ({{account_description}})</h2>

<div style="width:100%;">
   <canvas id="myChart"></canvas>
</div>

<div>
   <div>Latest Transactions</div>
   <div id="transaction_list"></div>
</div>

<script language="javascript">
   var account_id = {{account_id}};
   var ctx = document.getElementById('myChart').getContext('2d');
   var chart = new Chart(ctx, {
      type: 'line',
      data: {
         datasets: [{
            label: 'Balance',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            lineTension: 0,
            data : []
         }]
      },
      options: {
         legend: {
            display: false
         },
         responsive: true,
         title: {
            display: true,
            text: 'Account Balance Over Time'
         },
         scales: {
            xAxes: [{
               type: 'time',
               display: true,
               scaleLabel: {
                  display: false,
                  labelString: 'Date'
               },
               ticks: {
                  major: {
                     fontStyle: 'bold',
                     fontColor: '#FF0000'
                  }
               },
               time: {
                  unit: 'day',
                  unitStepSize: 1,
                  displayFormats: {
                    'day': 'YYYY MMM DD'
                  }
               }
            }],
            yAxes: [{
               display: true,
               scaleLabel: {
                  display: false,
                  labelString: 'Account Balance'
               },
               ticks: {
                  beginAtZero: true,
                  // Include a dollar sign in the ticks
                  callback: function(value, index, values) {
                     return '{{account_currency}} ' + value.toFixed(2);
                  }
               }
            }]
         }
      }
   });

   function load_chart_data(account_id) {

      // Load account balance history data
      $.getJSON( "/api/history/" + account_id, function( data ) {
         data.history.forEach((item) => {
            chart.data.datasets[0].data.push({x:moment(item.date).valueOf(), y:item.balance});
         });
         chart.update();
      });      
      
   }

   function load_latest_transactions(account_id, count) {

      // Load account transactions
      $.getJSON(`/api/transactions/${account_id}?count=${count}`, function( data ) {
         $("#transaction_list").empty();
         data.forEach((item) => {
            var item_html = `<div class="transaction ${item.uncleared?'uncleared':''} ${item.added_today?'new':''}">${item.date.substring(0,10)} <b>${item.type}</b> <i>${item.description}</i> <b>${item.amount} {{account_currency}}</b></div>`;
            $("#transaction_list").append(item_html);
         });
      });

   }

   $( document ).ready(function() {
      load_chart_data(account_id);
      load_latest_transactions(account_id, 20);
   });

</script>

</body>