<head>
    <meta charset="utf-8">
    <title>Chipmunk Finance - Home</title>      
    <script src="/static/moment.min.js"></script>
    <script src="/static/Chart.min.js"></script>
    <script src="/static/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/site.css" />
</head>
<body>

    <div><a href="/accounts">Account Balance Graph</a></i></div>
    <div><a href="/accounts_history">Account History Graph</a></i></div>
              
    <div>
        <a onclick="update_all_accounts()" href="#">Update All Accounts</a>
        <div class="dialog-parent" id='async_dialog'>
            <div class='dialog'>
                <div id="msg_updating" style="margin-bottom: 18px;"><i class="fas fa-spinner fa-spin"></i> Updating accounts, please wait...</div>
                <span id='async_status_msg'></span>
                <div id='async_user_query_form' style="display:none;">
                    <div>
                        <span id='async_user_query'></span>
                        <input type="text" id="async_user_query_tb">
                    </div>
                    <button onclick="submit_async_user_query()">Submit</button>
                </div>
                <div id='async_ok' style="display:none;"><a onclick="async_press_ok()" href="#">Close</a></div>
            </div>
        </div>
    </div>

    <div id="account_list"></div>

    <script language="javascript">

// TODO: On page load get latest action to resume
    var action_id = null;

    function submit_async_user_query() {

        // TODO Disable button

        var data = {'user_response':$('#async_user_query_tb').val()};

        // TODO Send as content, not url parameters
        $.getJSON("/api/async/update/" + action_id, data, function( data ) {
            $("#async_user_query_form").hide();
            check_action_status(action_id);
        });
    }

    function async_press_ok() {
        $("#async_ok").hide();
        async_set_status_text("");
        $("#async_dialog").hide();
    }

    function async_set_status_text(msg) {
        $("#async_status_msg").text(msg);
    }

    function check_action_status(action_id) {
        $.getJSON("/api/async/status/" + action_id, function( data ) {

            async_set_status_text(data.progress);

            // data.status can be 'working','done','error','user_query','user_response'

            if (data.status == 'done' || data.status == 'error') {
                async_set_status_text('Update Finished');
                load_accounts_data();
                $("#msg_updating").hide();
                $("#async_ok").show();
            } else if (data.status == 'user_query') {
                $("#async_user_query_form").show();
            } else {
                // continue waiting
                setTimeout(function(){
                    check_action_status(action_id);
                }, 1000);
            }
        });
    }
    
    function update_all_accounts() {

        $("#async_dialog").show();
        $("#msg_updating").show();

        $.getJSON("/api/async/create/account_update", function( data ) {
            action_id = data.action_id;            
            check_action_status(action_id);
        });
    }

    function format_currency(value) {
        return parseFloat(Math.round(value * 100) / 100).toFixed(2);
    }

    function load_latest_transactions(account_id, count) {

        // Load account transactions
        $.getJSON(`/api/transactions/${account_id}?count=${count}`, function( data ) {
            $(`#transactions_${account_id}`).empty();
            data.forEach((item) => {
                var item_html = `<div class="transaction ${item.uncleared?'uncleared':''} ${item.added_today?'new':''}">${item.date.substring(0,10)} <b>${item.type}</b> <i>${item.description}</i> <b>${format_currency(item.amount)} {{account_currency}}</b></div>`;
                $(`#transactions_${account_id}`).append(item_html);
            });
        });

    }    

    function load_accounts_data() {

      // Load account transactions
      $.getJSON(`/api/accounts`, function( data ) {
         $("#account_list").empty();
         data.forEach((account) => {
            var item_html = `<div>
                    Account:${account.name} ${account.description} ${format_currency(account.balance)} ${account.currency} 
                    <a href="/account_balance/${account.id}">Details</a>
                    <div class='account_transactions' id="transactions_${account.id}"></div>
                </div>`;
                console.log(item_html);
            $("#account_list").append(item_html);
            load_latest_transactions(account.id, 4);
         });
      });

    }
    
    $( document ).ready(function() {
        load_accounts_data();
    });

    </script>
         
</body>