<head>
    <meta charset="utf-8">
    <title>Chipmunk Finance - Accounts</title>      
    <script src="/static/moment.min.js"></script>
    <script src="/static/Chart.min.js"></script>
    <script src="/static/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/site.css" />
</head>
<body>
     
     <h2>Accounts</h2>
     
     <div class="graph_container">
        <div class="graph_item">
            <div>Savings</div>
            <canvas id="canvasChart_Savings"></canvas></div>
        <div class="graph_item">
            <div>Investments</div>
            <canvas id="canvasChart_Investment"></canvas></div>
        <div class="graph_item">
            <div>Debt</div>
            <canvas id="canvasChart_Debt"></canvas></div>        
     </div>
     
     <script language="javascript">

        function getColor(index) {
            var colors = ['#e6194B', '#3cb44b', '#ffe119', '#4363d8', '#f58231', '#911eb4', 
                '#42d4f4', '#f032e6', '#bfef45', '#fabebe', '#469990', '#e6beff', '#9A6324', 
                '#fffac8', '#800000', '#aaffc3', '#808000', '#ffd8b1', '#000075', '#a9a9a9'];
            return colors[index % colors.length];
        }

        function createChart(ctx) {
            return new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [],
                datasets: [{
                  data : [],
                  backgroundColor: [],
                  borderColor: '#202020'
               }]
            },
            options: {
                maintainAspectRatio : false,
                responsive: true,
                legend: {
                    display: false,
                    position: 'bottom',
                    boxWidth: 20,
                    labels: {
                        fontColor: '#c0c0c0'
                    }
                },
                tooltips: {
                  callbacks: {
                    label: function(tooltipItem, data) {
                        var label = data.labels[tooltipItem.index];
                        var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                        if (label) {
                            label += ': ';
                        }
                        label += value.toFixed(2);
                        return label;
                    }
                  }
               }
            }
        });
        }

        var chart_Savings = createChart( document.getElementById('canvasChart_Savings').getContext('2d') );
        var chart_Investment = createChart( document.getElementById('canvasChart_Investment').getContext('2d') );
        var chart_Debt = createChart( document.getElementById('canvasChart_Debt').getContext('2d') );
     
        function chartForType(type) {
            if (type=='investment') {
                return chart_Investment;
            }
            if (type=='debt') {
                return chart_Debt;
            }
            return chart_Savings;
        }

        function load_account_data() {
          // Load account data
          $.getJSON("/api/accounts", function( data ) {   
            var i = 0;         
            data.forEach((item) => {
                var chart = chartForType(item.base_type); 
                if (item.balance > 0) {
                    chart.data.datasets[0].backgroundColor.push(getColor(chart.data.labels.length));
                    chart.data.labels.push(item.name || item.description);
                    chart.data.datasets[0].data.push(item.balance);
// TODO Need to use the balance in the base currency
// TODO Get account type from database
                    i++;
                }
            });
            chart_Savings.update();
            chart_Investment.update();
            chart_Debt.update();
          });      
           
        }
     
        $( document ).ready(function() {
           load_account_data();
        });
     
     </script>
     
     </body>